<!doctype html>
<html>
<head>
    <title>Blue Sentinel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<h1>Welcome to Blue Sentinel</h1>
<ul>
    <li><a href="/rooms">Manage rooms</a></li>
    <li><a href="/samples">Show Samples</a> </li>
    <li><a href="/users">Manage users</a></li>
</ul>
</body>
</html>