<!doctype html>
<html>
<head>
    <title>New region</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<h1>{{ room.name }} - attach new region</h1>

<form action="/rooms/{{ room.id }}/regions/add" method="post">
    uuid:&nbsp;&nbsp;<input type="text" name="region-uuid"><br/>
    major:<input type="text" name="region-major"><br/>
    minor:<input type="text" name="region-minor"><br/>
    <button type="submit">Add</button>
</form>
</body>
</html>