<!doctype html>
<html>
<head>
    <title>New room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<h1>Add new room</h1>
<form action="/rooms/add" method="post">
    Room name:<input type="text" name="room-name">
    <button type="submit">Add</button>
</form>
</body>
</html>