<!DOCTYPE html>
<html>
<head>
    <title>Add New</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <h1>Add new user</h1>
<form action="/users/add" method="post">
    Username:<input type="text" name="username">
    <button type="submit">Add</button>
</form>
</body>
</html>