<!doctype html>
<html>
<head>
    <title>{{ room.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<h1>{{ room.name }}</h1>
<ul>
    {% for region in room.regions %}
        <li>UUID: {{ region.uuid }}, Major: {{ region.major }}, Minor: {{ region.minor }}
            <form action="/rooms/{{ room.id }}/regions/delete/{{ region.id }}">
                <button type="submit">delete</button>
            </form>
        </li>

    {% endfor %}
</ul>

<a href="/rooms/{{ room.id }}/regions/add">Add region</a><br/>

<a href="/rooms">Back</a>

</body>
</html>