<!doctype html>
<html>
<head>
    <title>Building rooms</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<h1>Rooms</h1>
<ul>
    {% for room in rooms %}
        <li>
            <a href="rooms/{{ room.id }}">{{ room.name }}</a> -
            <form action="rooms/delete/{{ room.id }}">
                <button type="submit">delete</button>
            </form>
        </li>
    {% endfor %}
    <a href="rooms/add">Add</a>
</ul>
</body>
</html>