<!DOCTYPE html>
<html>
<head>
    <title>Show Samples</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<table id = "content">
<tr>
  <th>ID</th>
  <th>Time</th>
  <th>UUID</th>
  <th>Major</th>
  <th>Minor</th>
  <th>RSSI</th>
  <th>User </th>
</tr>
{% for sample in samples %}
<tr >
  <td >{{ sample.id }}</td>
  <td >{{ sample.time_stamp }}</td>
  <td >{{ sample.region.uuid }}</td>
  <td >{{ sample.region.major }}</td>
  <td >{{ sample.region.minor }}</td>
  <td >{{ sample.rssi }}</td>
  <td>{{ sample.user.username }}</td>
</tr>
{% endfor %}
</table>
</body>
</html>