<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<h1>Users</h1>
    {% for user in users %}
        <li>
            <a href="">{{ user.username }}</a> -
            <form action="/users/delete/{{ user.id }}">
                <button type="submit">delete</button>
            </form>
        </li>
    {% endfor %}
    <a href="users/add">Add</a>

</body>
</html>