body {
    margin: 0px;
    padding: 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #34495E;
    font-size: 16px;
}

h1 {
    font-weight: 100;
    color: #2C3E50;
}

form {
    display: inline-block;
}

a {
    text-decoration: underline;
    color: #1ABC9C;
}

a:hover {
    color: #16A085;
}

button {
    border: 0 none;
    background-color: #3498DB;
    color: white;
    padding: 4px 8px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

button:hover {
    background-color: #2980B9;
    cursor: pointer;
}

*:focus {
    outline: 0;
}

input[type='text'] {
    border: 1px solid #ECF0F1;
    padding: 4px 8px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

input[type='text']:focus {
    border: 1px solid #3498DB;
}